*{
    margin: 0;
    line-height: 1.1em;
}

body {
    margin: 0;
    background-color: #ddeae9;
    font-size: small;
    font-family: Verdana, Sans-Serif;
}

header {
    background-color: #c0c0c0;
    height: 71px;
}

h1 {
    text-align: center;
    color: black;
    padding-top: 25px;
    font-family: Verdana, Sans-Serif;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table tr:nth-child(odd){
    background-color: white;
}

table tr:nth-child(even){
    background-color: #ddeae9;
}


th, td {
    padding-top: 5px;
    padding-bottom: 5px;
}

button a{
    text-decoration: none;
    color: black;
}
